.component {
    background-color: #faf6d2;
    border: 2px solid white;
}

.box {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.btn-remove {
    margin: 2px 7px;
    border: none;
    background-color: inherit;
    color: red;
    outline: none;
    cursor: pointer;
}

.btn-remove:hover{
    color: #bc3a3a;
}

.btn-remove:active{
    color: #831616;
}
